<!DOCTYPE html>
<html>

<head>
    <title>手机新浪网</title>
    <meta charset="utf-8" />
    <meta name="keywords" content="手机新浪网,新浪首页,新闻资讯,新浪新闻,新浪无线" />
    <meta name="description" content="手机新浪网是新浪网的手机门户网站，为亿万用户打造一个手机联通世界的超级平台，提供24小时全面及时的中文资讯，内容覆盖国内外突发新闻事件、体坛赛事、娱乐时尚、产业资讯、实用信息等。手机新浪网触屏版 - sina.cn"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
    />
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT" />
    <meta http-equiv="Last-Modified" content="Wed, 26 Feb 1997 08:21:57 GMT" />
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="referrer" content="always" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
    <meta name="author" content="sina_mobile" />
    <meta name="baidu-site-verification" content="rTnMzcp5WP" />
    <script type="text/javascript">
        !function () { var t = 100, o = 750, e = document.documentElement.clientWidth || window.innerWidth, n = Math.max(Math.min(e, 480), 320), h = 50; 320 >= n && (h = Math.floor(n / o * t * .99)), n > 320 && 362 >= n && (h = Math.floor(n / o * t * 1)), n > 362 && 375 >= n && (h = Math.floor(n / o * t * 1)), n > 375 && (h = Math.floor(n / o * t * .97)), document.querySelector("html").style.fontSize = h + "px" }(); function rem() { var t = 100, o = 750, e = document.documentElement.clientWidth || window.innerWidth, n = Math.max(Math.min(e, 480), 320), h = 50; 320 >= n && (h = Math.floor(n / o * t * .99)), n > 320 && 362 >= n && (h = Math.floor(n / o * t * 1)), n > 362 && 375 >= n && (h = Math.floor(n / o * t * 1)), n > 375 && (h = Math.floor(n / o * t * .97)), document.querySelector("html").style.fontSize = h + "px" }; rem(); window.onresize = function () { rem(); };
    </script>
    <link rel="stylesheet" href="../css/homev8.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://mjs.sinaimg.cn/wap/module/base/img/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://mjs.sinaimg.cn/wap/online/public/images/addToHome/sina_114x114_v1.png">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="https://mjs.sinaimg.cn/wap/online/public/images/addToHome/sina_57X57_v1.png">
    <link rel="manifest" href="../manifest.json">
</head>

<body>

    <noscript style="margin:10px;text-align:center;background:#f33;color:#fff;display:block;line-height:35px;font-size:16px;">您的浏览器不支持JavaScript脚本，请开启！</noscript>

    <main class="page_main ">

        <div sax-type="banner" class="j_sax sina_tj_banner" data-id="PDPS000000057793" style="margin-bottom:0;"></div>
        <script sax-type="banner" type="text/html">
            <a href="<% content[0].link[0] %>" style="position: relative;display: block;">
            <img src="<% content[0].src[0] %>" style="max-width: 100%;margin: 0 auto;display: block;" alt="<% content[0].src[1] %>" />
            <mark class="new_icon" style="position: absolute;bottom: 10px;right: 10px;width: 26px;height: 14px;line-height: 14px;text-shadow: 1px 0 #000;background-color: rgba(0,0,0,.18);color: #fff;font-size: 10px;text-align:center;">广告</mark>
        </a>
        </script>


        <div sax-type="fullScreen" class="j_sax sina_tj_qp" data-id="PDPS000000040519"></div>
        <script sax-type="fullScreen" type="text/html">
            <a style="display:block;background:rgb(250, 250, 250);" href="<% content[0].link[0] %>">
            <div class="j_adImgUp" data-img="<% content[0].src[1] %>" style="position: relative;height: 0; overflow: hidden; background: url('<% content[0].src[1] %>') 50% 0% no-repeat; background-size:100% 100%;">
                <mark class="new_icon" style="position: absolute;bottom: 10px;right: 10px;width: 26px;height: 14px;line-height: 14px;text-shadow: 1px 0 #000;background-color: rgba(0,0,0,.18);color: #fff;font-size: 10px;text-align:center;">广告
                </mark>
            </div>
        </a>
            <div style="position:relative;border-bottom:1px solid #D9DADC;background:#eef8ff;font-size:17px;line-height:36px;padding:0 8px;">
                <a style="color: #0e84d7;" href="<% content[0].link[0] %>">
                    <% content[0].src[0] %>
                </a>
                <div class="j_adClose" style="display:inline-block;width:25px;height:26px;position:absolute; right:0px; top:0; padding:10px 0 0 15px; z-index:111">
                    <span class="j_adCloseBtn" style="display: inline-block; width: 8px; height: 8px; border-top-color: rgb(255, 204, 0); border-top-style: solid; border-top-width: 3px; border-right-color: rgb(255, 204, 0); border-right-style: solid; border-right-width: 3px; transform: rotate(135deg); position: absolute; left: 15px; top: 15px;"></span>
                </div>
            </div>
        </script>

        <div sax-type="liumeiti" class="j_sax sina_tj_lmt" data-id="A25D259B08E6"></div>
        <script sax-type="liumeiti" type="text/html">
            <a style="display:block;background:rgb(250, 250, 250);" href="<% content[0].link[0] %>">
            <div class="j_lmtimage" data-img="<% content[0].src[0] %>" style="display:inline-block;background:url('<% content[0].src[0] %>') no-repeat center center;background-size:100% auto;position: fixed;bottom: 0;left: 0;z-index: 100;width: 100%; height: 0;overflow: hidden;">
                <span class="j_adClose" style="position:absolute; right:0; top:0;display:inline-block;width:40px;height:40px; line-height:40px; text-indent:999em; overflow:hidden;background-image:url(https://ns.sinaimg.cn/default/d1c9d4ed/20160516/close.png);background-repeat: no-repeat;background-position: 0 0;background-size:40px auto;">关闭</span>
                <mark class="new_icon" style="position: absolute; bottom: 10px; right: 10px; width: 26px; height: 14px; line-height: 14px; text-shadow: rgb(0, 0, 0) 1px 0px; color: rgb(255, 255, 255); font-size: 10px;  background-color: rgba(0,0,0,.18);text-align: center;">广告    </mark>
            </div>
        </a>
        </script>

        <header class="hd">
            <a class="icon_lg" href="https://sina.cn/?vt=4&pos=108" title="新浪移动_手机新浪网">
                <h1 class="hide"></h1>
            </a>
            <nav class="hd_cut" data-sudaclick="top_version"><a href="javascript:;" title="新浪网 手机新浪网 首页 智能推荐算法">标准版</a><a class="active" href="javascript:;" title="智能版">智能版</a></nav>
            <nav class="hd_set"><a id="weather_icon" class="hd_s_w hide" href="http://weather1.sina.cn/?ttp=n13&vt=4&pos=108" title="未来三天 天气趋势"></a>
                <a id="loginBox" class="hd_s_user icon_user" href="javascript:;" data-sudaclick="h_n_faceimg"></a>
                <a class="hd_s_set icon_set" href="http://sina.cn/index/settings?vt=4&pos=108" title="设置">
                    <h2 class="hide">新浪移动_手机新浪网_用户设置</h2>
                </a>
            </nav>
            <nav class="hd_nav" data-sudaclick="top_nav" id="j_top_nav">
                <a class="hd_nav_a" href="javascript:;" title="新闻">新闻</a>
                <a class="hd_nav_a" href="javascript:;" title="财经">财经</a>
                <a class="hd_nav_a" href="javascript:;" title="体育">体育</a>
                <a class="hd_nav_a" href="javascript:;" title="娱乐">娱乐</a>
                <a class="hd_nav_a" href="javascript:;" title="军事">军事</a>
                <a class="hd_nav_a" href="javascript:;" title="汽车">汽车</a><a class="hd_nav_a" href="javascript:;" title="科技">科技</a>
            </nav>
        </header>

        <section class="s_card_item" id="j_card_tnews">
            <section class="s_card_t" style="background:#fff" id="j_card_yaowen"></section>
            <section class="s_card" id="j_card_intenews">
                <a href="http://tech.sina.cn/i/gj/2017-08-16/detail-ifyixcaw5019560.d.html?cre=tianyi&amp;mod=whf&amp;loc=6&amp;r=0&amp;doct=0&amp;rfunc=99&amp;tj=none&amp;tr=12"
                    title="《权力的游戏》第七季下载泄露：资源上传者被抓" data-info="ce33f1c2b7c939eabc10708f5311c679|0|6|0|99|none|1502854061|1|12|0|0|1ruz1|0|201"
                    data-pclink="http://tech.sina.cn/i/gj/2017-08-16/detail-ifyixcaw5019560.d.html?cre=tianyi&amp;mod=whf&amp;loc=6&amp;r=0&amp;doct=0&amp;rfunc=99&amp;tj=none&amp;tr=12">
                    <section class="m_f_a">
                        <figure class="m_f_div"><img class="img_width finpic" src="https://k.sinaimg.cn/n/translate/20170815/wibX-fyixiay7806171.jpg/w200h134f1t10l50q90c55.jpg"
                                alt="《权力的游戏》"></figure>
                        <aside class="m_f_con">
                            <h2 class="m_f_con_t  cm_tit">《权力的游戏》第七季下载泄露：资源上传者被抓（原链接）</h2>
                            <blockquote class="cm_f_ic"><em class="m_f_con_n m_f_con_n_r"><span class="m_f_con_ic_l m_f_con_ic icon_com"></span>8</em>
                                <cite class="m_iq_f_con_c">快科技</cite>
                            </blockquote>
                        </aside>
                    </section>
                </a>
                <a href="./nextPage/detail-ifyixcaw5019560.d.html" title="《权力的游戏》第七季下载泄露：资源上传者被抓" data-info="ce33f1c2b7c939eabc10708f5311c679|0|6|0|99|none|1502854061|1|12|0|0|1ruz1|0|201"
                    data-pclink="http://tech.sina.cn/i/gj/2017-08-16/detail-ifyixcaw5019560.d.html?cre=tianyi&amp;mod=whf&amp;loc=6&amp;r=0&amp;doct=0&amp;rfunc=99&amp;tj=none&amp;tr=12">
                    <section class="m_f_a">
                        <figure class="m_f_div"><img class="img_width finpic" src="https://k.sinaimg.cn/n/translate/20170815/wibX-fyixiay7806171.jpg/w200h134f1t10l50q90c55.jpg"
                                alt="《权力的游戏》"></figure>
                        <aside class="m_f_con">
                            <h2 class="m_f_con_t  cm_tit">《权力的游戏》第七季下载泄露：（请修改HTML里 a的链接）</h2>
                            <blockquote class="cm_f_ic"><em class="m_f_con_n m_f_con_n_r"><span class="m_f_con_ic_l m_f_con_ic icon_com"></span>8</em>
                                <cite class="m_iq_f_con_c">快科技</cite>
                            </blockquote>
                        </aside>
                    </section>
                </a>
                <a href="http://sports.sina.cn/cba/2017-08-16/detail-ifyixtym5425256.d.html?cre=tianyi&amp;mod=whf&amp;loc=1&amp;r=0&amp;doct=0&amp;rfunc=99&amp;tj=none&amp;tr=12"
                    title="末节逆转12分！男篮进亚洲杯8强 李根砍19分" data-info="182c99bf43b73b628ffcf955561a9397|0|1|0|99|none|1502854837|1|12|0|0|1un7g|0|201"
                    data-pclink="http://sports.sina.cn/cba/2017-08-16/detail-ifyixtym5425256.d.html?cre=tianyi&amp;mod=whf&amp;loc=1&amp;r=0&amp;doct=0&amp;rfunc=99&amp;tj=none&amp;tr=12">
                    <section class="m_f_a">
                        <figure class="m_f_div"><img class="img_width finpic" src="https://k.sinaimg.cn/n/sports/transform/20170816/YH2I-fyixtym5424833.jpg/w200h134f1t10l50q90c55.jpg"
                                alt="末节逆转12分！"></figure>
                        <aside class="m_f_con">
                            <h2 class="m_f_con_t  cm_tit">末节逆转12分！男篮进亚洲杯8强 李根砍19分（原链接）</h2>
                            <blockquote class="cm_f_ic"><em class="m_f_con_n m_f_con_n_r"><span class="m_f_con_ic_l m_f_con_ic icon_com"></span>12756</em>
                                <cite class="m_iq_f_con_c">小鱼</cite>
                            </blockquote>
                        </aside>
                    </section>
                </a>
                <a href="./nextPage/detail-ifyixtym5425256.d.html" title="末节逆转12分！男篮进亚洲杯8强 李根砍19分" data-info="182c99bf43b73b628ffcf955561a9397|0|1|0|99|none|1502854837|1|12|0|0|1un7g|0|201"
                    data-pclink="http://sports.sina.cn/cba/2017-08-16/detail-ifyixtym5425256.d.html?cre=tianyi&amp;mod=whf&amp;loc=1&amp;r=0&amp;doct=0&amp;rfunc=99&amp;tj=none&amp;tr=12">
                    <section class="m_f_a">
                        <figure class="m_f_div"><img class="img_width finpic" src="https://k.sinaimg.cn/n/sports/transform/20170816/YH2I-fyixtym5424833.jpg/w200h134f1t10l50q90c55.jpg"
                                alt="末节逆转12分！"></figure>
                        <aside class="m_f_con">
                            <h2 class="m_f_con_t  cm_tit">末节逆转12分！男篮进亚洲杯（请修改HTML里 a的链接）</h2>
                            <blockquote class="cm_f_ic"><em class="m_f_con_n m_f_con_n_r"><span class="m_f_con_ic_l m_f_con_ic icon_com"></span>12756</em>
                                <cite class="m_iq_f_con_c">小鱼</cite>
                            </blockquote>
                        </aside>
                    </section>
                </a>
                <a>
                    <section class="m_f_a j_info" style="display: block;word-break: break-all;min-height: 13.4px;min-height: 1.34rem;"></section>
                </a>
            </section>
        </section>
    </main>
    <script src="./js/app.js"></script>
</body>

</html>